* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: rgb(219, 219, 219);
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    background-color: #000000;

}

header {
    width: 100%;
    height: 9rem;
    background-color: rgba(0, 0, 0, 0.568);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0;
}

.container-principal {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.menu ul {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}


.menu ul li {
    font-size: 1.6rem;
    list-style: none;
    margin-right: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.background {
    background-image: url(../img/background-pizza.png);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.background .vantagens {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: calc((100vh - 9rem) / 3);
    font-size: 3.2rem;
    margin-left: 4rem;
}



#sabor {
    margin-left: 15px;
    margin-top: 5px;
}


/*========== segunda seção ============*/
.container-sabores {
    background-color: #000000;
    height: calc(100vh + 10rem);
    border-top: 1px solid #ffffff70;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;

}

.container-sabores h2 {
    padding: 2rem 0;
    font-size: 4rem;
}

.container-sabores p {
    font-size: 2rem;
}

.container-sabores figure {
    margin-top: 3rem;
}

.container-sabores figure .img-sabores {
    width: 40%;
}

/* ========== tabela ========== */
.table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    background-color: #2a2a2ae3;
    background-image: url(../img/sabores-pizzas.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

th, td {
    background-color: #2a2a2ae3;
    width: 20%;
    padding: 2rem 0;
    margin: 0;
    border-spacing: .2rem;
    border: 1px #000 solid
}

.texto-negativo {
    color: #fb3958;
}

.texto-positivo {
    color: #87b50f;
}

/* ======== formulario ========= */
.container-formulario {
    
    width: 50%;
}

.container-formulario h2 {
    text-align: center;
    padding: 3rem 0;
    font-size: 3.6rem;
}

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-size: 1.6rem;
}

.form .cliente {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form .cliente div {
    width: 100%;
    padding-right: 2rem;

}

.form .cliente div input {
    width: 100%;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #fff;
    padding: 1rem .2rem;
    color: #fff;
    font-size: 1.4rem;

}

.form textarea {
    width: 100%;
    background: transparent;
    resize: none;
    margin: 1rem 0;
    border: transparent;
    border-bottom: 1px solid #fff;
    height: 5rem;
    padding-left: .1rem;
    padding-top: 4%;
    color: #fff;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;

}

.form .msg {
    width: 100%;
    margin: 0 auto;
    padding-right: 2rem;
}

.form .total {
    height: 25vh;
    padding: 2rem 0;


}
.form .total .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form .total .footer label {
    display: block;
}

.form .total input {
    display: block;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #fff;
    padding: .2rem;
    color: #fff;
    font-size: 1.4rem;
    outline: transparent;
    margin: 2rem 0;
}
.form .total .footer label:first-child{
    text-transform: uppercase;
}
.form .total .footer label:nth-child(2) input{
    background-color: #fff;
    border: transparent;
    height: 3rem;
    width: 10rem;
    padding: 0 .5rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 2.5rem;
    color:  black;
    margin-right: 2rem;
    transition: .3s ease-in-out ;
}

#button:hover {
    transform: scale(1.05);
    background-color: darkgrey;
}

/* ========footer====== */

footer {
    background-color: rgba(39, 39, 39, 0.568);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    height: 80px;
}
 footer a{
     text-transform: uppercase;
 }